form {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
}

form button {
    background-color: transparent;
    color: black;
    font-size: 25px;
    padding: 0px;
}

input {
    width: 300px;
    color: rgb(27, 26, 26);
    background-color: transparent;
    font-size: 20px;
    padding-left: 5px;
    border: 1px solid rgb(122, 121, 121);
}